

<!DOCTYPE html>
<html>
   <head>
      <style>
         table, td {
         border: 1px solid black;
         }
      </style>
   </head>
   <body>
      <p>Multiplayer Demo.</p>
      <table id="myTable">
         <tr>
            <td>
               <video id="v0" width="320" height="240" controls>
                  <source src="videos/agent_327.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </td>
            <td>
               <video id="v1" width="320" height="240" controls>
                  <source src="videos/agent_327.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </td>
            <td>
               <video id="v2" width="320" height="240" controls>
                  <source src="videos/agent_327.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </td>
         </tr>
         <tr>
            <td>
               <video id="v3" width="320" height="240" controls>
                  <source src="videos/agent_327.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </td>
            <td>
               <video id="v4" width="320" height="240" controls>
                  <source src="videos/agent_327.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </td>
            <td>
               <video id="v5" width="320" height="240" controls>
                  <source src="videos/agent_327.mp4" type="video/mp4">
                  Your browser does not support the video tag.
               </video>
            </td>
         </tr>
      </table>
      <br> 
      <button onclick="playAll()">Play All</button>
      <p id="demo"></p>
      <script>
         function playAll() {
           var v = [
             document.getElementById("v0"),
             document.getElementById("v1"),
             document.getElementById("v2"),
             document.getElementById("v3"),
             document.getElementById("v4"),
             document.getElementById("v5")
           ];
           
           v.forEach(function(player, index, array) {
               player.muted = true;
               player.play();
            })
         }
      </script>
   </body>
</html>


